<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    </head>
<body>
    <h3> 신이 </h3>
    <h2><span style="color: tomato;"> {{ name }}님을 </span></h2> 
    <span>만들 때</span>
    <br>

    <ul>
       <b> {{x}}  {{a}} </b><br>
       <b> {{y}}  {{b}} </b> <br>
       <b> {{z}}  {{c}} </b> <br>


    </ul>





</body>
</html>